body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 200px;
  max-height: 150px;
  align-items: center;
}

.home-top {
  margin-bottom: 100px;
}

.carousel-img {
  max-width: 200px;
  max-height: 150px;
  align-content: center;
}

.carousel-top {
  max-width: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}